name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage

    - name: Run tests with coverage
      run: |
        coverage run -m pytest
        coverage xml
        coverage html

    - name: Upload Coverage HTML Report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-html
        path: htmlcov

    - name: Upload Cobertura XML Report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-xml
        path: coverage.xml
